<div class="container">
<div class="details-module">
  <h1 class="ng-binding">Looking for...</h1>
 
  <div class="row">
    <div class="details-block-data">
      <form class='form-horizontal'>
        <div class='input input-text'>
          <label>Server:</label>
          <select id="serverSel" ng-model="serverSel" name="serverSel" ng-style="{ 'width' : '30%' }" ng-change="getInstances()">
            <option value="" ></option>
            <option value="127.0.0.1" >Localhost (127.0.0.1)</option>
            <option value="192.168.1.111" >Gossling (192.168.1.111)</option>
            <option value="192.168.1.114" >Dartagnan (192.168.1.114)</option>
            <option value="192.168.1.121" >Gandhi (192.168.1.121)</option>
            <option value="192.168.1.3" >Kennedy (192.168.1.3)</option>
          </select>
        </div>

        <div class='input input-text'>
          <label>Instance:</label>
          <select id="instanceSel" ng-model="instanceSel" name="instanceSel" ng-style="{ 'width' : '30%' }"  ng-options="item.data as item.name for item in valuesInstances" />
        </div>
        
        <div class='input input-text'>
          <label>Nivel:</label>
          <select id="levelSel" ng-model="levelSel" name="levelSel" ng-style="{ 'width' : '30%' }" >
            <option value="info" >INFO</option>
            <option value="severe" >Severe</option>
            <option value="finest" >Finest</option>
            <option value="warning" >Warning</option>
            <option value="config" >CONFIG</option>
            <option value="fine" >FINE</option>
            <option value="finer" >FINER</option>
          </select>
        </div>

        <div class='input input-text'>
          <label>From:</label>
          <input kendo-date-picker
            name="dataIni"
            k-parse-formats ="['yyyy-MM-dd']"
            ng-model="dataIni"
            k-ng-model="dataIniOptions"
            k-ng-model="dataIniObject"
            required
            />
        </div>

        <div class='input input-text'>
          <label>To:</label>
          <input kendo-date-picker
          name="dataEnd"
          k-parse-formats ="['yyyy-MM-dd']"
          ng-model="dataEnd"
          k-ng-model="dataEndOptions"
          k-ng-model="dataEndObject"
          required
          />
        </div>
      </form>

      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="clean()">Clean</button>
        <button class="btn btn-primary" ng-click="search()">Search</button>
      </div>
    </div>
  </div>
</div>
</div>





